<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
id="com.hitgrab.mousehunt.mhdatabridge"
    version="0.2.8">
    <name>MouseHunt Data Bridge</name>
    <description>MouseHunt Data Bridge by HitGrab Inc.</description>
    <!--
    <license>Apache 2.0</license>
    <keywords>cordova,media</keywords>
    <repo>https://git-wip-us.apache.org/repos/asf/cordova-plugin-media.git</repo>
    <issue>https://issues.apache.org/jira/browse/CB/component/12320647</issue>
    -->

    <js-module src="www/MHDataBridge.js" name="MHDataBridge">
        <clobbers target="window.MHDataBridge" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MHDataBridge" >
                <param name="android-package" value="com.hitgrab.android.mousehunt.MHDataBridge"/>
            </feature>
        </config-file>

        <!-- Helpshift Android SDK using gradle -->
        <framework src="com.helpshift:helpshift-sdkx:10.1.0" />
        
        <source-file src="src/android/MHDataBridge.java" target-dir="src/com/hitgrab/android/mousehunt/" />
     </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="MHDataBridge">
                <param name="ios-package" value="MHDataBridge"/>
            </feature>
        </config-file>
        <header-file src="src/ios/MHDataBridge.h" />
        <source-file src="src/ios/MHDataBridge.m" />

        <!-- Helpshift iOS SDK using pods -->
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="false">
                <pod name="HelpshiftX" spec="10.2.1"/>
            </pods>
        </podspec>
    </platform>
     
</plugin>
